gradlew
.gradle/file-system.probe
.gradle/7.6/executionHistory/executionHistory.bin
.gradle/7.6/executionHistory/executionHistory.lock
.gradle/7.6/fileHashes/fileHashes.bin
.gradle/7.6/fileHashes/fileHashes.lock

.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
bin/main/bundles/bundle_en.properties
build/resources/main/bundles/bundle_ru.properties
build/tmp/compileJava/previous-compilation-data.bin
build/classes/java/main/tower/TowerPathfinder.class
build/classes/java/main/tower/Main.class
bin/main/tower/TowerPathfinder.class
bin/main/tower/Main.class
bin/main/plugin.json
.idea/vcs.xml
.idea/.gitignore
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.6/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/classes/java/main/tower/TowerPathfinder.class
build/classes/java/main/tower/Main.class
build/libs/YES-1-1.0.jar
build.gradle.kts
